.main {
    &__container {
        margin: auto;
        width: 100%;
        max-width: 1140px;
        height: 100vh;

        background-color: $very-dark-blue;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__row {
        width: 100%;
        display: flex;

        .nav__column {
            margin-right: 2rem;
            display: flex;
            flex: 20%;
            justify-content: flex-end;
        }

        .menu__column {
            flex: 80%;
        }
    }
}