.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__work {
        grid-area: 1 / 1 / 2 / 2;

        padding: 25px 25px 30px 25px;

        color: #fff;
        background-color: hsl(235, 46%, 20%);
        border-radius: 10px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size: 18px;
        font-weight: 400;
    }

    &__hour {
        margin: 20px 0px 10px 0;
        font-size: 48px;
        font-weight: 300;
    }

    &__last {
        color: rgba(236, 236, 236, 0.6);
        font-size: 13px;
    }
}