.nav {
    border-radius: 10px;
    background-color: hsl(235, 46%, 20%);

    .profile {
        padding: 30px 0px 70px 25px;
        border-radius: 10px;
        background-color: hsl(246, 80%, 60%);

        &__img {
            width: 65px;
            height: 65px;
            border: 3px solid #fff;
            border-radius: 50%;
        }

        &__title {
            color: #fff;
            width: 200px;
            margin-top: 25px;

            &--small {
                color: #b4b4b4;
            }
        }

        &__name {
            font-weight: 300;
        }
    }

    .map {
        padding: 25px 25px 10px 25px;

        .list {
            &__item {
                margin-bottom: 15px;
            }

            &__link {
                color: rgba(236, 236, 236, 0.4);
                transition: all ease .5s;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}